<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><i class="fa fa-dashboard"></i> <a href="#/item/list">Item</a>
			</li>
			<li class="active"><i class="fa fa-file"></i> List</li>
		</ol>
	</div>

	<div class="col-lg-12">
		<button class="btn btn-success" ng-click="create()">Dodaj</button>


		<div class="well" ng-repeat="row in rows track by $index">
		{{row}}
			<div class="col-md-2">
				<p class="input-group">
					<input type="text" class="form-control" uib-datepicker-popup
						ng-model="row.start" is-open="opened[$index]"
						datepicker-options="dateOptions"
						ng-change="update(row)"
						close-text="Close" /> <span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open($index)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</p>
			</div>

			<div class="col-md-2">
				<div uib-timepicker ng-model="row.start" hour-step="1"
					minute-step="5" show-meridian="false" ng-change="update(row)"></div>
			</div>

				<button class="btn btn-danger pull-right" ng-click="del(row)">x</button>
			<input class="form-control" ng-value="row.title" ng-model="row.title"
				ng-blur="update(row)">

			<textarea class="form-control" ng-model="row.description"
				ng-blur="update(row)">
		{{row.description}}
		</textarea>
		</div>
	</div>
</div>
